<div class="form-container">
  <div class="form-card">
    <h1>Start Your Intake Questions</h1>
      <h2>Please complete the following intake questions before proceeding with negotiation.</h2>

    <%= form_with(model: @intake_question, url: intake_questions_path(conversation_id: @conversation_id), local: true) do |f| %>

      <div class="form-section">
        <%= f.label :Reason, "What is the reason for the dispute?", class: "required-label" %>

        <div class="custom-select-wrapper">
          <%= f.select :Reason, [
            ["Select a reason", ""],
            "Failure to Pay Rent",
            "Violation of Lease Terms",
            "Damage to Property",
            "Illegal Activity",
            "Nuisance or Disturbance",
            "Expiration of Lease",
            "Unknown"
          ], {}, { class: "form-control", required: true } %>

          <i class="arrow down"></i>
        </div>
      </div>

      <div class="form-section">
        <%= f.label :DescribeCause, "Please describe what caused this dispute. In other words, what happened?", class: "required-label" %>
        <p>This information will not be shared with the Landlord. It is an opportunity for you to share your side of the story.</p>
        <%= f.text_area :DescribeCause, rows: 5, class: "form-control", required: true %>
      </div>

      <div class="form-section">
        <p>Many eviction disputes end with an agreement where the tenant agrees to do one of the following:</p>
        <ul>
          <li>Pay the rent that was due</li>
          <li>Move out</li>
        </ul>
        <p>While there may be other options through conversation or mediation, these are the most common.</p>

        <%= f.label :BestOption, "Which of the following is the best option for you?", class: "required-label" %>

        <div class="custom-select-wrapper">
          <%= f.select :BestOption, [
            ["Select a reason", ""],
            "Pay Missed Rent", 
            "Move Out"
          ], {}, { class: "form-control", required: true } %>
          <i class="arrow down"></i>
        </div>
      </div>

      <div class="form-section">
        <%= f.label :Section8, "Are you in Section 8 Housing?", class: "required-label" %>
        
        <p>If you are in Section 8 Housing, you may qualify for Legal Aid Resources. You are encouraged to 
          <strong><a href="https://oslsaoi.legalserver.org/modules/matter/extern_intake.php?pid=129&h=daa817&" target="_blank">contact Legal Aid</a></strong>.
        </p>
        <%= f.radio_button :Section8, true, required: true %> Yes
        <%= f.radio_button :Section8, false %> No
        
      </div>

      <div class="form-section">
        <%= f.label :MoneyOwed, "How much money do you currently owe in rent?", class: "required-label" %>
        <p>Please check your online rental portal or any place where your rent balance is shown.</p>
        <%= f.number_field :MoneyOwed, step: 0.01, class: "form-control", required: true, placeholder: "e.g. 1200.00" %>
      </div>

      <div class="form-section">
        <%= f.label :TotalCostOrMonthly, "Is the amount you typed above the total cost of your monthly rent?", class: "required-label" %><br>
        <%= f.radio_button :TotalCostOrMonthly, true, required: true %> Yes
        <%= f.radio_button :TotalCostOrMonthly, false %> No
        <p> </p> <!-- add space-->
        <%= f.label :MonthlyRent, "If no, what is the total rent you pay each month?" %>
        <%= f.number_field :MonthlyRent, step: 0.01, class: "form-control", placeholder: "e.g. 800.00" %>
      </div>

      <div class="form-section">
        <%= f.label :DateDue, "When was your rent due?", class: "required-label" %>
        <%= f.date_field :DateDue, class: "form-control", required: true %>
      </div>

      <div class="form-section">
        <%= f.label :PayableToday, "How much money could you pay today?", class: "required-label" %>
        <p>It's okay to type “0” if you cannot pay any of the rent due today.</p>
        <%= f.number_field :PayableToday, step: 0.01, class: "form-control", required: true, placeholder: "e.g. 0.00" %>
      </div>

      <div class="form-footer">
        <%= f.submit "Submit"%>
      </div>

    <% end %>
  </div>
</div>
