<%= form_with url: mediations_path, method: :post, local: true do |form| %>

  <div>
    <%= form.label :landlord_id, "Select a Landlord:" %>
    <%= form.select :landlord_id, options_from_collection_for_select(@landlords, "UserID", "CompanyName"), { prompt: "Choose a Landlord" }, { name: "landlord_id" } %>
  </div>

  <div>
    <%= form.label :landlord_email, "Or Enter Landlord's Email:" %>
    <%= form.text_field :landlord_email, required: false, placeholder: "Enter landlord's email", name: "landlord_email" %>
  </div>

  <%= hidden_field_tag :format, "html" %>

  <div>
    <%= form.submit "Request Mediation" %>
  </div>
<% end %>
