<p>Please complete the following screening questions before proceeding with mediation.</p>
<%= debug @conversation_id %>
<%= debug @user.Role %>


<%= form_with model: @screening, url: screenings_path(conversation_id: @conversation_id), method: :post do |f| %>
  <%= f.hidden_field :UserID, value: @user.UserID %>


  <!-- Interpreter Question -->
  <div class="form-group">
    <%= f.label :InterpreterNeeded, "Do you need an interpreter?" %><br>
    <%= f.radio_button :InterpreterNeeded, 'Yes' %> Yes
    <%= f.radio_button :InterpreterNeeded, 'No' %> No
  </div>

  <div class="form-group">
    <%= f.label :InterpreterLanguage, "If yes, select a language:" %><br>
    <%= f.select :InterpreterLanguage, [
        'Español (Spanish)', 'русский (Russian)', 'Soomaali (Somali)', 'Tigrigna (Tigrinya)',
        'العربية (Arabic)', 'Sign Language', 'नेपाली (Nepali)', '普通话 (Mandarin)',
        'Français (French)', 'አማርኛ (Amharic)', 'Other'
      ], include_blank: "Select a language" %>
  </div>

  <!-- Accessibility Accommodations -->
  <div class="form-group">
    <%= f.label :DisabilityAccommodation, "Do you need accommodations?" %><br>
    <%= f.radio_button :DisabilityAccommodation, 'Yes' %> Yes
    <%= f.radio_button :DisabilityAccommodation, 'No' %> No
  </div>

  <div class="form-group">
    <%= f.label :DisabilityExplanation, "If yes, describe further:" %><br>
    <%= f.text_area :DisabilityExplanation, placeholder: 'Describe accommodations needed' %>
  </div>

  <!-- Conflict of Interest -->
  <div class="form-group">
    <%= f.label :ConflictOfInterest, "Have you met the mediator before?" %><br>
    <%= f.radio_button :ConflictOfInterest, 'Yes' %> Yes
    <%= f.radio_button :ConflictOfInterest, 'No' %> No
  </div>

  <!-- Need to Consult -->
  <div class="form-group">
    <%= f.label :NeedToConsult, "Do you need to consult someone else?" %><br>
    <%= f.radio_button :NeedToConsult, 'Yes' %> Yes
    <%= f.radio_button :NeedToConsult, 'No' %> No
  </div>

  <div class="form-group">
    <%= f.label :ConsultExplanation, "If yes, describe further:" %><br>
    <%= f.text_area :ConsultExplanation, placeholder: 'Who do you need to consult?' %>
  </div>

  <!-- Relationship to Other Party -->
  <div class="form-group">
    <%= f.label :RelationshipToOtherParty, "How do you know the other party?" %><br>
    <%= f.text_field :RelationshipToOtherParty, placeholder: 'Describe your relationship' %>
  </div>

  <!-- Unsafe Mediation Conditions -->
  <div class="form-group">
    <%= f.label :Unsafe, "Is there any reason you wouldn’t feel comfortable mediating?" %><br>
    <%= f.radio_button :Unsafe, 'Yes' %> Yes
    <%= f.radio_button :Unsafe, 'No' %> No
  </div>

  <div class="form-group">
    <%= f.label :UnsafeExplanation, "If yes, describe further:" %><br>
    <%= f.text_area :UnsafeExplanation, placeholder: 'Describe concerns (e.g., threats, violence)' %>
  </div>

  <!-- Ability to Speak on Own Behalf -->
  <div class="form-group">
    <%= f.label :SpeakOnOwnBehalf, "Do you feel able to speak on your own behalf?" %><br>
    <%= f.radio_button :SpeakOnOwnBehalf, 'Yes' %> Yes
    <%= f.radio_button :SpeakOnOwnBehalf, 'No' %> No
  </div>

  <div class="form-group">
    <%= f.submit "Submit Screening" %>
  </div>
<% end %>
