<!-- Quick Start Guide -->
<div class="quick-start">
    <h3>🚀 How to Navigate</h3>
    <ul class="dashboard-list">
        <li>Check your <%= link_to "Messages", messages_path, class: "dashboard-link" %> for updates on negotiations.</li>
        <li>View and manage your documents on the <%= link_to "Documents", documents_path, class: "dashboard-link" %> page.</li>
        <li>Update your profile and settings from the <%= link_to "Account", account_path, class: "dashboard-link" %> page.</li>
    </ul>
</div>

<!-- Landlord Quick Guide -->
<div class="dashboard-guide">
    <h3 class="dashboard-subheading">📖 Quick Guide</h3>
    <ul class="dashboard-list">
        <li>
            <strong>Accept a Negotiation from your tenant:</strong>
            <ul>
                <li>Go to the <%= link_to "Messages", messages_path, class: "dashboard-link" %> page.</li>
                <li>Accept the negotiation from your tenant.</li>
            </ul>
        </li>

        <li>
            <strong>If you want to start a Mediation:</strong>
            <ul>
                <li>Request for a Mediator in <%= link_to "Messages", messages_path, class: "dashboard-link" %>.</li>
            </ul>
        </li>

        <li>
            <strong>If you want to stop a negotiation/mediation:</strong>
            <ul>
                <li>Go to <%= link_to "Messages", messages_path, class: "dashboard-link" %> and access your negotiation/mediation to end it.</li>
            </ul>
        </li>
    </ul>
</div>
