<div class="dashboard">
  <h2 class="dashboard-welcome">Welcome, <%= @user.FName %> <%= @user.LName %>!</h2>
  <p class="dashboard-subtext">You are now logged in.</p>

  <% case @user.Role %>
    <% when "Landlord" %>
      <%= render "landlord_dashboard" %>
    <% when "Tenant" %>
      <%= render "tenant_dashboard" %>
    <% when "Admin" %>
      <%= render "admin_dashboard" %>
    <% when "Mediator" %>
      <%= render "mediator_dashboard" %>
    <% else %>
      <p class="error-text">"Error: User has an Invalid role."</p>
  <% end %>
</div>