<div class = "dashboard">
  <h2>Welcome, <%= @user.FName %> <%= @user.LName %>!</h2>
  <p>You are now logged in.</p>

  <% case @user.Role %>
    <% when "Landlord" %>
      <%= render "landlord_dashboard" %>
    <% when "Tenant" %>
      <%= render "tenant_dashboard" %>
    <% when "Admin" %>
      <%= render "admin_dashboard" %>
    <% when "Mediator" %>
      <%= render "mediator_dashboard" %>
    <% else %>
      <p>"Error: User has an Invalid role."</p>
  <% end %>

  <%= link_to "Log Out", logout_path, method: :delete, class: "logout-btn" %>
</div>