<div class="actions-container">
  <div class="mediator-action">
    <% if @mediation && !@mediation.MediatorRequested && !@mediation.MediatorAssigned %>
      <%= button_to "Request a Mediator", request_mediator_message_path(@mediation.id),
                    method: :patch, class: "btn btn-primary" %>
      <p class="action-description">
        If negotiations are not progressing, you can request a mediator to assist with resolving the dispute.
      </p>
    <% elsif @mediation && @mediation.MediatorRequested && !@mediation.MediatorAssigned %>
      <p class="mediator-status">Mediator requested.</p>
      <p class="action-description">
        Your request for mediation is being processed.
      </p>
    <% elsif @mediation && @mediation.MediatorRequested && @mediation.MediatorAssigned %>
      <p class="mediator-status"><%= render 'mediator_details' %></p>
      <% if @user.Role == "Tenant" && @mediation.TenantScreeningID.nil? %>
        <p class="screening-alert">
          You must complete your screening questions before proceeding with mediation.
          <a href="<%= new_screening_path(conversation_id: @message_string.ConversationID) %>">Click here to complete screening.</a>
        </p>
      <% elsif @user.Role == "Landlord" && @mediation.LandlordScreeningID.nil? %>
        <p class="screening-alert">
          You must complete your screening questions before proceeding with mediation.
          <a href="<%= new_screening_path(conversation_id: @message_string.ConversationID) %>">Click here to complete screening.</a>
        </p>
      <% end %>
    <% else %>
      <p class="mediator-status">Unknown error.</p>
    <% end %>
    <% if @mediation && @mediation.deleted_at.nil? %>
      <% if (@user.Role == "Tenant" && @mediation.TenantScreeningID.nil? && !@mediation.MediatorAssigned) || 
            (@user.Role == "Landlord" && @mediation.LandlordScreeningID.nil? && !@mediation.MediatorAssigned) ||
            (@user.Role == "Tenant" && !@mediation.TenantScreeningID.nil? && @mediation.MediatorAssigned) ||
            (@user.Role == "Landlord" && !@mediation.LandlordScreeningID.nil? && @mediation.MediatorAssigned) %>
        <%= button_to "Generate New File", generate_file_path,
            method: :get, class: "btn btn-primary" %>
        <p class="action-description">
          This button allows you to create a proposal
        </p>
      <% end %>
      <%= button_to (@mediation.MediatorRequested && @mediation.MediatorAssigned ? "End Mediation" : "End Negotiation"),
                    end_mediation_path(@mediation.ConversationID),
                    method: :patch,
                    data: {
                      turbo: false,
                      confirm: "Are you sure you want to end this #{@mediation.MediatorRequested && @mediation.MediatorAssigned ? 'mediation' : 'negotiation'}?"
                    },
                    class: "btn btn-danger mt-3" %>
      <p class="action-description">
        You can end the <%= @mediation.MediatorRequested && @mediation.MediatorAssigned ? "mediation" : "negotiation" %> at any time. You’ll be asked if the other party acted in good faith.
      </p>
    <% end %>
  </div>
</div>
