<div class = "mediation-container">
  <h2>Past Mediations</h2>

  <table class="mediation-table">
    <thead>
        <tr>
        <th>Tenant Name</th>
        <th>Email</th>
        <th>Ended At</th>
        <th>Summary</th>
        <th>Feedback</th>
        </tr>
    </thead>
    <tbody>
        <% @past_mediations.each do |mediation| %>
        <% tenant = mediation.tenant %>
        <tr>
            <td data-label="Tenant Name"><%= tenant.FName %> <%= tenant.LName %></td>
            <td data-label="Email"><%= tenant.Email %></td>
            <td data-label="Ended At"><%= mediation.deleted_at.strftime("%B %d, %Y %I:%M %p") %></td>
            <td data-label="Summary">
            <%= link_to "View Summary", mediation_summary_path(mediation.ConversationID), class: "view-link" %>
            </td>
            <td data-label="Feedback">
              <% if needs_good_faith_response?(mediation, @user) %>
                <%= link_to "Complete Feedback", good_faith_response_path(mediation.ConversationID), class: "complete-link" %>
              <% else %>
                <span>Submitted</span>
              <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
