<div class="message-list-container <%= recipient.Role == 'Tenant' ? 'tenant-message-list-container' : 'landlord-message-list-container' %> mediator-chat-box"
     data-conversation-id="<%= message_string&.ConversationID %>"
     data-user-id="<%= @user.UserID %>">

  <div class="message-list"
       id="mediator-messages-<%= recipient.UserID %>">
    
    <% if messages.any? %>
      <% messages.each do |message| %>
        <%= render partial: "messages/message", locals: { message: message, user: @user } %>
        <% file_attachment = FileAttachment.find_by(MessageID: message.MessageID) %>

        <!-- This can (and probably should) be put into another partial similar to _message.html.erb, but it would be considerably trickier IMO, but I have not thought about it much -->
        <% if file_attachment %>
          <% file = FileDraft.find_by(FileID: file_attachment.FileID) %>
          <div class="chat-message <%= message.SenderID == @user.UserID ? 'sent' : 'received' if message.recipientID == @user.UserID || message.SenderID == @user.UserID %>"
            data-message-id="<%= message.MessageID %>"
            data-sender-id="<%= message.SenderID %>"
            data-current-user-id="<%= @user.UserID %>"
            data-sender-role="<%= @user.Role %>">

            <div class="message-bubble">
              <p class="message-content"> 
                    File attached: <%= file.FileName %> 
                    <%= link_to "View", document_path(file.FileID), class: "btn btn-link" %> |
                    <%= link_to "Download", download_file_path(file.FileID), class: "btn btn-link" %></p>
                    <% if @user.Role == 'Tenant' && file.TenantSignature == false %>
                      <%= button_to "Sign as Tenant", sign_file_path(file.FileID), method: :post %>
                    <% elsif @user.Role == 'Landlord' && file.LandlordSignature == false %>
                      <%= button_to "Sign as Landlord", sign_file_path(file.FileID), method: :post %>
                    <% end %>
              <small class="message-timestamp"><%= message.MessageDate.strftime("%B %d, %Y %I:%M %p") %></small>
            </div>
          </div>
        <% end %>

      <% end %>
    <% else %>
      <p class="no-messages">No messages with mediator yet.</p>
    <% end %>
  </div>

  <div class="message-input-form">
    <%= form_with url: mediator_messages_path, method: :post, data: { turbo: "false" }, html: { class: "mediator-message-form" } do |f| %>
      <div class="message-input">
        <%= f.hidden_field :conversation_id, value: message_string&.ConversationID %>
        <%= f.hidden_field :recipient_id, value: recipient.UserID %>
        
        <!-- Message Box -->
        <%= f.text_area :Contents, placeholder: "Message #{recipient.FName}...", id: "message_contents", class: "message-textarea", rows:3 %>

        <!-- Dropdown for selecting a file from FileDrafts -->
        <div class="file-dropdown-wrapper">
          <%= f.label :file_id, "Select a file to attach", class: "file-label" %>
          <div class="custom-select-wrapper">
            <%= f.collection_select :file_id, FileDraft.where(CreatorID: @user.UserID), :FileID, :FileName, 
               { prompt: "Choose a file" }, { class: "form-control", required: false } %>            
            <i class="arrow down"></i>
          </div>
        </div>

        <!-- Send Button -->
        <%= f.submit "Send Message", class: "send-msg-btn" %>
      </div>
    <% end %>
  </div>
</div>
