<div class="chat-message <%= message.SenderID == @user.UserID ? 'sent' : 'received' %>"
     data-message-id="<%= message.id %>"
     data-sender-id="<%= message.SenderID %>" 
     data-current-user-id="<%= @user.UserID %>"
     data-sender-role="<%= @user.Role %>">
  
  <div class="message-bubble">
    <p class="message-content"><%= message.Contents %></p>
    <small class="message-timestamp"><%= message.MessageDate.strftime("%B %d, %Y %I:%M %p") %></small>
  </div>
</div>
