<div class = "mediation-container">
    <h1>Landlord Negotiation & Messages</h1>
    <p>Welcome, <%= @user.FName %>! This is the landlord Negotiations page.</p>

    <% if @show_mediation_view %>
        <p><strong>Negotiations in progress:</strong></p>
        <table class="mediation-table">
            <thead>
                <tr>
                    <th>Tenant</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @mediation.each do |mediation| %>
                    <tr>
                        <td><%= mediation.tenant.FName %> <%= mediation.tenant.LName %></td>
                        <td> Tenant's address </td>
                        <td>
                            <% if mediation.accepted_by_landlord %>
                                <a href="<%= message_path(mediation.ConversationID) %>" class="view-btn">View Negotiation</a>
                            <% else %>
                                <%= button_to "Accept Negotiation", accept_mediation_path(mediation), method: :post, class: "accept-btn" %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <p class="no-mediation-msg">No negotiations currently exist. A negotiation needs to be created.</p>
    <% end %>
</div>
