<div class="mediation-summary-page">
  <h1>Mediation Summary</h1>

  <p><strong>Ended At:</strong> <%= @mediation.deleted_at.strftime("%B %d, %Y at %I:%M %p") %></p>

  <h2>Tenant Info</h2>
  <p><strong>Name:</strong> <%= @tenant.FName %> <%= @tenant.LName %></p>
  <p><strong>Email:</strong> <%= @tenant.Email %></p>

  <h2>Landlord Info</h2>
  <p><strong>Name:</strong> <%= @landlord.FName %> <%= @landlord.LName %></p>
  <p><strong>Email:</strong> <%= @landlord.Email %></p>

  <p><strong>Did the tenant act in good faith? According to the landlord:</strong> <%= good_faith_label(@mediation.EndOfConversationGoodFaithTenant) %></p>
  <p><strong>Did the landlord act in good faith? According to the tenant:</strong> <%= good_faith_label(@mediation.EndOfConversationGoodFaithLandlord) %></p>  

  # TODO: modify logic to show attached documents here!
  <% if true %>
    <p> this is where documents will be shown </p>
  <% end %>

  <% if @user.Role == "Mediator" %>
    <%= link_to "Back", third_party_mediations_path, class: "btn btn-secondary mt-3" %>
  <% else %>
    <%= link_to "Back", messages_path, class: "btn btn-secondary mt-3" %>
  <% end %>
</div>
