<div class="login-container">
  <div class="login-card">
    <h2>Log In</h2>

    <%= form_with url: login_path, method: :post, class: "login-form" do |form| %>
      <div class="input-group">
        <%= form.label :email %>
        <%= form.email_field :email, required: true, class: "login-input" %>
      </div>

      <div class="input-group">
        <%= form.label :password %>
        <%= form.password_field :password, required: true, class: "login-input" %>
      </div>

      <div>
        <%= form.submit "Log In", class: "login-btn" %>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="login-error-msg-holder">
        <p class="login-error-msg"><%= flash[:error] %></p>
      </div>
    <% end %>

    <p class="login-text">Don't have an account? <%= link_to "Sign up", signup_path, class: "login-link" %></p>
  </div>
</div>
