<!-- Log In Page -->
<div class="login-container">
  <!-- Banner -->
  <div class="login-banner">
    <h1>Resolve rental </h1>
    <h1> disputes easily.</h1>
    <p>Communicate early. Avoid court. Find fair solutions.</p>
      
    <div class="features-grid">
      <div class="feature">
        <i class="fa-solid fa-scale-balanced"></i>
        <p>Early Mediation</p>
      </div>
      <div class="feature">
        <i class="fa-solid fa-comments"></i>
        <p>Text-Based Communication</p>
      </div>
      <div class="feature">
        <i class="fa-solid fa-file-signature"></i>
        <p>Digital Agreements</p>
      </div>
      <div class="feature">
        <i class="fa-solid fa-calculator"></i>
        <p>Payment Planning</p>
      </div>
    </div>
  </div>

  <!-- Login Form -->
  <div class="login-card">
    <h2> <i class="fa-solid fa-right-to-bracket"></i> Log In</h2>
    <p class="login-text"> Welcome back! Please enter your details </p>

    <!-- Display Error Messages -->
    <% if flash[:error] %>
      <div class="login-error-msg-holder">
        <p class="login-error-msg"> 
          <i class="fa-solid fa-circle-exclamation"></i>
          <%= flash[:error] %>
        </p>
      </div>
    <% end %>
    
    <%= form_with url: login_path, method: :post, class: "login-form" do |form| %>
      <!-- Email Input -->
      <div class="input-group">
        <label for="email">Email</label>
        <div class="input-field">
            <i class="fa-solid fa-envelope"></i>
            <%= form.email_field :email, placeholder: "youremail@example.com", 
              required: true, class: "login-input" %>
        </div>
      </div>

      <!-- Password Input -->
      <div class="input-group">
        <label for="password">Password</label>
        <div class="input-field">
            <i class="fa-solid fa-lock"></i>
            <%= form.password_field :password, placeholder: "Your password", 
              required: true, class: "login-input" %>
        </div>
      </div>

      <div>
        <%= form.submit "Log In", class: "login-btn" %>
      </div>
    <% end %>

    <p class="login-text">Don't have an account? 
       <%= link_to "Sign up", signup_path, class: "login-link" %></p>
  </div>
</div>
