<h1>Mediation Case Details</h1>

<p><strong>Tenant Name:</strong> <%= @mediation.tenant.FName %> <%= @mediation.tenant.LName %></p>
<p><strong>Landlord Name:</strong> <%= @mediation.landlord.FName %> <%= @mediation.landlord.LName %></p>

<%= link_to "Back to Cases", third_party_mediations_path, class: "btn btn-secondary" %>