<h2>Sign Up</h2>

<%= form_with model: @user, url: signup_path, local: true do |f| %>
  <div>
    <%= f.label :FName, "First Name" %><br>
    <%= f.text_field :FName, required: true %>
  </div>

  <div>
    <%= f.label :LName, "Last Name" %><br>
    <%= f.text_field :LName, required: true %>
  </div>

  <div>
    <%= f.label :Email, "Email" %><br>
    <%= f.email_field :Email, required: true %>
  </div>

  <div>
    <%= f.label :Password, "Password" %><br>
    <%= f.password_field :Password, required: true %>
  </div>

  <div>
    <p>Please select your role:</p>
    <%= f.radio_button :Role, "Tenant", checked: true %>
    <%= f.label :Role, "Tenant", value: "Tenant" %><br>
    <%= f.radio_button :Role, "Landlord" %>
    <%= f.label :Role, "Landlord", value: "Landlord" %>
  </div>

  <div>
    <%= f.submit "Sign Up" %>
  </div>
<% end %>
