<div class="signup-container">
  <div class="signup-card">
    <h2>Sign Up</h2>

    <%= form_with model: @user, url: signup_path, local: true, class: "signup-form" do |f| %>
      <div class="input-group">
        <%= f.label :FName, "First Name" %>
        <%= f.text_field :FName, required: true, class: "signup-input" %>
      </div>

      <div class="input-group">
        <%= f.label :LName, "Last Name" %>
        <%= f.text_field :LName, required: true, class: "signup-input" %>
      </div>

      <div class="input-group">
        <%= f.label :Email, "Email" %>
        <%= f.email_field :Email, required: true, class: "signup-input" %>
      </div>

      <div class="input-group">
        <%= f.label :Password, "Password" %>
        <%= f.password_field :Password, required: true, class: "signup-input" %>
      </div>

      <div class="role-selection">
        <p>Please select your role:</p>
        <label class="role-option">
          <%= f.radio_button :Role, "Tenant", checked: true, class: "signup-radio" %>
          Tenant
        </label>
        <label class="role-option">
          <%= f.radio_button :Role, "Landlord", class: "signup-radio" %>
          Landlord
        </label>
      </div>

      <div>
        <%= f.submit "Sign Up", class: "signup-btn" %>
      </div>
    <% end %>
  </div>
</div>
