<h1>Your Assigned Mediation Cases</h1>

<table>
  <thead>
    <tr>
      <th>Tenant Name</th>
      <th>Landlord Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @mediations.each do |mediation| %>
      <tr>
        <td><%= mediation.tenant.FName %> <%= mediation.tenant.LName %></td>
        <td><%= mediation.landlord.FName %> <%= mediation.landlord.LName %></td>
        <td>
          <%= link_to "View Mediation", mediator_case_path(mediation.id), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>