<div class="form-container">
  <div class="form-card">
    <h1>Sign Document</h1>

    <div class="form-section">
      <h2>You are signing: <%= @file.FileName %></h2>
    </div>

    <%= form_with url: apply_signature_document_path(@file.FileID), method: :post do |form| %>
      <div class = "form-section">
        <%= form.label :signature, "Enter your signature:" %>
        <p>Your signature must start and end with a '/'</p>
        <%= form.text_field :signature, 
            required: true, 
            pattern: "/.+/", 
            placeholder: "e.g.: /John Doe/" %>
      </div>

      <div class = "form-footer">
        <%= form.submit "Apply Signature" %>
      </div>

    <% end %>
  </div>
</div>