<div class="tenant-documents-container">
  <h1>Tenant Documents</h1>
  <p class="welcome-msg">Welcome back, <strong><%= @user.FName %></strong>! Here are your available documents. You can view or download them below.</p>

  <% if @files.any? %>
    <ul class="document-list">
      <% @files.each do |file| %>
        <li class="document-item">
          <span class="file-name"><%= file.FileName %></span>
          <div class="file-actions">
            <%= link_to "View", document_path(file.FileID), class: "btn btn-link" %>
            <%= link_to "Download", download_file_path(file.FileID), class: "btn btn-link" %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="no-documents-msg">You don’t have any documents uploaded yet.</p>
  <% end %>

  <%= link_to "Generate New File", generate_file_path, class: "btn btn-primary generate-btn" %>
</div>
