<nav class="navbar">
    <div class="navbar-left">
        <span class="navbar-title">Eviction Mediation</span>
    </div>

    <ul class="navbar-menu">
        <li><a href="/dashboard" title="Home" class="<%= 'active' if current_page?('/dashboard') %>"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="<%= admin_mediations_path %>" title="Mediations" class="<%= 'active' if current_page?(admin_mediations_path) %>"><i class="fas fa-scale-balanced"></i> Mediations</a></li>
        <li><a href="<%= admin_accounts_path %>" title="Manage Accounts" class="<%= 'active' if current_page?(admin_accounts_path) %>"><i class="fas fa-users-gear"></i> Manage Accounts</a></li>
        <%# this is not needed atm <li><a href="/system_data" title="System Data"><i class="fas fa-database"></i> System Data</a></li> #%>
        <li class="logout-nav">
            <%= link_to "Log Out", logout_path, method: :delete, class: "logout-btn navbar-logout-mobile" %>
        </li>
    </ul>

    <div class="navbar-right">
        <%= link_to "Log Out", logout_path, method: :delete, class: "logout-btn navbar-logout" %>
        <div class="navbar-toggle" id="navbar-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>