<nav class="navbar navbar-landlord">
    <div class="navbar-left">
        <span class="navbar-title">Eviction Mediation</span>
    </div>
    
    <ul class="navbar-menu" id="navbar-menu">
    <li><a href="/dashboard" title="Home" class="<%= active_nav_class('/dashboard') %>"><i class="fas fa-home"></i> Home</a></li>
    <li><a href="/messages" title="Messages" class="<%= active_nav_class('/messages') %>"><i class="fas fa-envelope"></i> Messages</a></li>
    <li><a href="/documents" title="Documents" class="<%= active_nav_class('/documents') %>"><i class="fas fa-file-alt"></i> Documents</a></li>
    <li><a href="/resources" title="Resources" class="<%= active_nav_class('/resources') %>"><i class="fas fa-book"></i> Resources</a></li>
    <li><a href="/account" title="Account" class="<%= active_nav_class('/account') %>"><i class="fas fa-user"></i> Account</a></li>
        <li><%= link_to "Log Out", logout_path, method: :delete, class: "logout-btn navbar-logout-mobile" %></li>
    </ul>        

    <div class="navbar-right">
        <%= link_to "Log Out", logout_path, method: :delete, class: "logout-btn navbar-logout" %>
        <div class="navbar-toggle" id="navbar-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>