<nav class="navbar">
  <ul>
    <li><%= link_to "<i class='fa-solid fa-home'></i> Home".html_safe, dashboard_path %></li>
    <li><%= link_to "<i class='fa-solid fa-envelope'></i> Messages".html_safe, messages_path %></li>
    <li><%= link_to "<i class='fa-solid fa-file'></i> Documents".html_safe, documents_path %></li>
    <li><%= link_to "<i class='fa-solid fa-book'></i> Resources".html_safe, resources_path %></li>
    <li><%= link_to "<i class='fa-solid fa-user'></i> Account".html_safe, account_path %></li>
  </ul>
</nav>