<nav>
  <ul>
    <li><%= link_to "Home", tenant_dashboard_path %></li>
    <li><%= link_to "Messages", messages_path %></li>
    <li><%= link_to "Documents", documents_path %></li>
    <li><%= link_to "Resources", resources_path %></li>
    <li><%= link_to "Account", account_path %></li>
  </ul>
</nav>