<div class="resources">
    <!-- Sidebar Navigation -->
    <nav class="resources-sidebar">
        <ul>
        <li class="<%= 'active' if @active_tab == 'resources' %>">
            <%= link_to "Resources", resources_path(tab: 'resources') %>
        </li>
        <li class="<%= 'active' if @active_tab == 'faqs' %>">
            <%= link_to "FAQs", resources_path(tab: 'faqs') %>
        </li>
        </ul>
    </nav>

    <div class="resources-content">
        <h1>Tenant Resources</h1>
        <p>Welcome, <%= @user.FName %>! This is the tenant resources page.</p>

        <!-- Main Content -->
        <% if @active_tab == "resources" %>
        <%= render "resources" %>
        <% else %>
        <%= render "faqs" %>
        <% end %>
    </div>
</div>