<!-- Tab Navigation (Resources & FAQs) -->
<div class="tabs">
    <a href="<%= resources_path(tab: 'resources') %>" class="<%= 'active' if @active_tab == 'resources' %>">
        Resources
    </a>
    <a href="<%= resources_path(tab: 'faqs') %>" class="<%= 'active' if @active_tab == 'faqs' %>">
        FAQs
    </a>
</div>

<!-- Main Content -->
<div class="resources-content">
   <% if @active_tab == "resources" %>
        <%= render "resources" %>
   <% else %>
        <%= render "faqs" %>
   <% end %>
</div>
