<div class = "account">
    <!-- Sidebar 
    <div class="account-sidebar">
            <ul class="nav-links">
                <li><a href="#">Personal Details</a></li>
                <li><a href="#">Password and security</a></li>
            </ul>

            <%= link_to "Log Out", logout_path, method: :delete, class: "account-sidebar-logout" %>
    </div> -->

    <!-- Main Content -->
    <div class="account-content">
        <div class="profile-section">
            <h1> <i class="fa-solid fa-user"></i> Personal Details</h1>
            <table class = "personal-details-table">
                <tr>
                    <th> <i class="fa-solid fa-id-badge"></i> Name</th>
                    <td> <%= @user.FName %> <%= @user.LName %> </td>
                </tr>
                <tr>
                    <th> <i class="fa-solid fa-envelope"></i> Email</th>
                    <td> <%= @user.Email %> </td>
                </tr>
                <tr>
                    <th> <i class="fa-solid fa-user-tag"></i> Role</th>
                    <td> <%= @user.Role %> </td>
                </tr>
                <% if @user.Role == "Tenant" %>
                    <tr>
                        <th> <i class="fa-solid fa-location-dot"></i> Address</th>
                        <td> <%= @user.TenantAddress %> </td>
                    </tr>
                <% elsif @user.Role == "Landlord"%>
                    <tr>
                        <th> <i class="fa-solid fa-building"></i> Company</th>
                        <td> <%= @user.CompanyName %> </td>
                    </tr>
                <% end %>
            </table>
        </div>

        <div class="security-section">
            <h1> <i class="fa-solid fa-lock"></i> Password and Security</h1>
            <table class = "pass-security-table">
                <tr>
                    <th> <i class="fa-solid fa-key"></i> Password</th>
                    <td>
                        <input type="checkbox" id="toggle-password" class="toggle-checkbox">
                        <label for="toggle-password">
                            <i class="fa-solid fa-eye"></i>
                        </label>
                        <input type="text" class="password-field" value="<%= @user.Password %>" readonly>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>